# User and group ID for the app container
# On Linux, run: id -u and id -g to get your values
# install.sh will set these automatically
USER_ID=1000

# Database
DB_HOST=db
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=openmage
MYSQL_USER=om_user
MYSQL_PASSWORD=om_password

# Hostnames
FRONTEND_HOST=openmage.127.0.0.1.nip.io
ADMIN_HOST=openmage-admin.127.0.0.1.nip.io
PHPMYADMIN_HOST=om-phpmyadmin.127.0.0.1.nip.io

# Locale
LOCALE=en_US
TIMEZONE=America/New_York
CURRENCY=USD

SAMPLE_DATA=1

# Admin
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=veryl0ngpassw0rd
ADMIN_FIRSTNAME=OpenMage
ADMIN_LASTNAME=User